@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import"icomoon";

$bg-color: #efefef;
$text-color: #4f4f4f;
$secondy-text-color: #D9DADA;
$highlight-text-color: white;
$button-color: #6cdcac;
$border-color: #999999;
body {
	font-size: 62.5%;
	text-align:center;
}
.hero{
	max-width:100em;
	height:30em;
	margin:0,auto;
	background:url(../hero.jpg);
	background-size:cover;
	color:$highlight-text-color;
	header{
		img{
			float: left;
			width:8em;
			height:2em;
		}
		ul{
			float:right;
			li{
				float: left;
				margin: 1em .5em;
				padding:.5em 1em;
				border:1px solid transparent;
				border-radius:2px;
			&:last-child{
				border:1px solid $highlight-text-color;
			}
			}

		}
		@include clearfix;
	}
	h1{
		font-size:4em;
		padding:1em 0 .5em 0;
	}	
	h2{
		font-size: 2em;
		padding:1em 0 .5em 0;
	}
	form{
		padding:2em 0 4em 0;
		input[type="text"] {
			color: $highlight-text-color;
			padding:1em;
			border: 0;
			width:18em;
			border-radius:2px 0 0 2px;
			background:$bg-color;
			opacity: .3;
		}
		input[type="button"]{
			color: $highlight-text-color;
			padding:1em;
			border:0;
			width: 6em;
			border-radius:0 2px 2px 0;
			background-color:lightgreen;
		}
	}
	
}
.numbers{
	width:80%;
	margin:0 auto;
	ul {
		position: relative;
		top:-1em;
		background: $bg-color;
		li{
			float:left;
			width:25%;
			box-sizing:border-box;
			border-top:1px solid $secondy-text-color;
			border-bottom:1px solid $secondy-text-color;
			border-left:1px solid $secondy-text-color;
			&:last-child{
				border-right: 1px solid $secondy-text-color;
			}
			h2{
				font-size: 2em;
				padding:1em 0;
			}
			h3{
				padding:0 0 2em 0;
			}
		}
		@include clearfix;
	}
}
.how-it-works{
	h2{
		font-size: 2em;
		padding:1em 0;
		text-transform: uppercase;
		&:after{
			display: block;
			content:"";
			width:2em;
			background-color:$bg-color;
			height:.1em;
			margin: .4 auto;
		}

	}
	ul{
		li{
			
			float: left;
			width:33.33%;
			i{
				font-size: 3em;
				margin: 1em 0 1em 0;
			}
			.icon-address-book:before {
				color: #ECA95A;
			}
			.icon-envelop:before {
				color:#AC9CD2;;
			}
			.icon-location:before {
				color:#4D99CB;
			}
			h3{
				font-size: 2em;
				font-weight: bold;
				margin: 1em 0 2em 0;
			}
			.number{
				font-size: 2em;
				color: $border-color;
				border:1px solid $border-color;
				width:1em;
				height: 1em;
				display: block;
				margin: 1em auto 1em auto;
				padding:.4em;
				@include border-radius(100%);
				background-color:$bg-color;


			}

			&:before{
				display:	block;
				content:"";
				background:$border-color;
				width:88%;
				height:1px;
				position:relative;
				top:4em;
				left:50%;
				margin:	0 2em;
			}
			 &:last-child:before{
			 	display:	none;
			 }
			 p{
			 	font-size: 1em;
			 	color: $border-color;
			 	line-height: 2em;
			 	margin: 0 auto;
			 	width:80%;
			 }

		}
		@include clearfix

	}
}

