@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-l1z05u");
  src: url("../fonts/icomoon.eot?#iefix-l1z05u") format("embedded-opentype"), url("../fonts/icomoon.ttf?-l1z05u") format("truetype"), url("../fonts/icomoon.woff?-l1z05u") format("woff"), url("../fonts/icomoon.svg?-l1z05u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/icomoon.scss */
.icon-address-book:before {
  content: "\e944";
}

/* line 29, ../sass/icomoon.scss */
.icon-envelop:before {
  content: "\e945";
}

/* line 32, ../sass/icomoon.scss */
.icon-location:before {
  content: "\e947";
}
